body {
    padding: 1.5em;
    background: #f5f5f5
}

#info, .markdown-body {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 1px 3px #a39485;
}

#info{
    box-shadow: 0px 0px 1px 3px #807979;
}

#info p{
    padding: 20px;
    width:100%;
    font-size:120%;
}

#imgblock img{
    float:left;
    width:22%;
}

.infotext{
    display: inline-block;
    background-color: #e5e5e5;
    padding: 0px 0px;
    border-radius: 32px;
    margin: 0px 8px 8px 0px;
    width:60%;
    height:10em;
    color:black;
}

table {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
    margin:30px;
}

th {
    text-align: left;
    padding-right: 20px;
}

th, td {
    font-size: 18px;
}